---
layout: layout.njk
---

{# pull unique 'season' property from front matter of each post #}
{# DATA CLEANUP TASK: Name seasons consistenly starting with the year they happened #}
{% set uniqueSeasons = [] %}
{% for post in collections.posts %}
  {% set season = post.data.season %}
  
  {% if uniqueSeasons.indexOf(season) == -1 %}
    {% set uniqueSeasons = uniqueSeasons.concat(season) %}
  {% endif %}
{% endfor %}

<ul>
  {% for season in uniqueSeasons %}
    <li><h2>{{ season }}</h2></li>
    {% for post in collections.posts %}
      <ul>
        {% if post.data.season === season %}
          <li><a href="{{ post.url }}">{{ post.data.performance }}</a></li>
        {% endif %}
      </ul>
    {% endfor %}
  {% endfor %}
</ul>

<script>
  document.addEventListener("DOMContentLoaded", function() {
      document.getElementById('search-form').addEventListener('submit', function(event) {
  
          const query = document.getElementById('search-query').value.trim();
  
          window.location.href = `/search?query=${encodeURIComponent(query)}`;
      });
  });
</script>
